MobiBank/AppMobiBank/AppMobiBank.UWP/Connected Services/ServiceReference1/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccountForView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountForView" nillable="true" type="tns:AccountForView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountForView" nillable="true" type="tns:ArrayOfAccountForView" />
  <xs:complexType name="AccountForView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAccount" type="xs:int" />
      <xs:element minOccurs="0" name="IdOffer" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountForView" nillable="true" type="tns:AccountForView" />
</xs:schema>