MobiBank/AppMobiBank/AppMobiBank.UWP/Connected Services/ServiceReference1/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64946/Services/Account/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.Services" />
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankService.Services" minOccurs="0" name="GetAccountResult" nillable="true" type="q1:ArrayOfAccountForView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>